#towerBackground{
    -fx-background-image: url("castle2.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#title {
	-fx-font-family: "HelveticaNeue";
	-fx-font-size: 70;
	-fx-text-fill: black;
	-fx-font-weight: BOLD;
}

.grid {
	-fx-grid-lines-visible: false;
	-fx-background-color: transparent;
}

.label {
	-fx-font-family: "HelveticaNeue";
	-fx-font-size: 20;
	-fx-text-fill: white;
	
}

#text {
	-fx-font-family: "HelveticaNeue";
	-fx-font-size: 30;
	-fx-font-weight: BOLD;
	-fx-fill: #D64933;
}

.anchor-pane {
		-fx-background-color: linear-gradient(#D1D5DE, white);
}

.image-stack-pane {
		-fx-background-color: linear-gradient(#7C4B36, #D64933);
		-fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, .3) , 10, .1, 7, 7);
		-fx-scale-x: 1;
    	-fx-scale-y: 1;
    	-fx-opacity: .9;
    	-fx-background-radius: 10;
}

.image-stack-pane:hover {
		-fx-scale-x: 1.05;
    	-fx-scale-y: 1.05;
    	-fx-opacity: 1;
}

.stack-pane {
		-fx-background-color: linear-gradient(#D64933, #D64933, black);
		-fx-effect: dropshadow( gaussian , rgba(209, 213, 222, .5) , 10,.5,2,2 );
		-fx-scale-x: 1;
    	-fx-scale-y: 1;
    	-fx-background-radius: 10;
}

.stack-pane:hover {
		-fx-scale-x: 1.1;
    	-fx-scale-y: 1.2;
}

.grid-pane {
		-fx-background-color: transparent;
}

.border-pane {
		-fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}